<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookmon Index</title>
</head>

<body>
  <div id="panel">
    <div id="yearc"></div>
    <div id="monthc"></div>
    <div id="dayc"></div>
  </div>
  <div id="files">
    <h2>Index</h2>
    <ul id="index"></ul>
    <h2>Position</h2>
    <ul id="position"></ul>
  </div>
  <iframe src="" id="preview"></iframe>
  <script>
    window.filesByDate = <%- JSON.stringify(filesByDate) %>
      window.files = <%- JSON.stringify(files) %>
        window.files.forEach(file =>
          file.date = new Date(Date.parse(file.stamp))
        )
  </script>
  <script src="assets/main.js"></script>
</body>

</html>
